<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Search History</h3>
        </div>
        <div class="panel-body history">
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">


            <div class="col-md-4" id="left">

            </div>


            <div class="col-md-8" id="right">
                <div class="row">
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <h3>Add a search</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
