<!-- NAVIGATION BAR -->
<!-- ====================== -->

<div class="row" id="navimg">
    <img src="/images/mountainlake6.jpg" width="100%" height="250px">

    <div class="col-md-10 col-md-offset-1" id="searchBox">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <form class="navbar-form navbar-left" id="tripForm">
                        <span class="glyphicon glyphicon-search" id="dashglyph"></span>
                        <input type="text" class="form-control city" placeholder="City..." id="field" name="city">

                        <span class="glyphicon glyphicon-search"></span>
                        <input type="text" class="form-control state" placeholder="State... XX" id="field" name="state">

                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="text" class="form-control date" placeholder="Date... MMDD" id="field" name="date">

                        <button type="submit" class="btn btn-default submitButton">Submit</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>



<div class="container">

    <!-- FIRST ROW -->
    <!-- ====================== -->
    <div class="row" id="welcomeUser">
        <div class="col-md-6">
            <h2>{{userName}}'s Trip Dashboard</h2>
        </div>
    </div>


    <!-- SECOND ROW -->
    <!-- ====================== -->
    <div class="row">
        {{#if lastSearch}} {{>searches/lastSearch lastSearch=lastSearch}}
        {{/if}}
    </div>


    <!-- THIRD ROW -->
    <!-- ====================== -->
    <div class="row" id="adBox">

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Airbnb<br>
                    <a href="https://www.airbnb.com/" target="_blank"><img src="/images/airbnb.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Hostelworld<br>
                    <a href="https://www.hostelworld.com/" target="_blank"><img src="/images/hostelworld.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    SkyScanner<br>
                    <a href="https://www.skyscanner.com/" target="_blank"><img src="/images/skyscanner.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Currency Converter<br>
                    <a href="http://www.xe.com/currencyconverter/" target="_blank"><img src="/images/xe.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    TripAdvisor<br>
                    <a href="https://www.tripadvisor.com/" target="_blank"><img src="/images/tripadvisor.jpg" width="auto" height="120"></a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    USA National Parks<br>
                    <a href="https://www.nps.gov/findapark/index.htm" target="_blank"><img src="/images/nps.png" width="auto" height="120"></a>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- JAVASCRIPT -->
<!-- ====================== -->
<script type="text/javascript">
    $(document).on("submit", "#tripForm", function(event) {
        event.preventDefault();

        var loc = {
            city: $(".city").val().trim(),
            state: $(".state").val().trim(),
            date: $(".date").val().trim()
        };

        $.ajax({
            type: "POST",
            url: "/api/newSearch",
            data: loc
        }).done(function(data) {
            console.log(location.pathname);

            if (location.pathname !== "/results") {
                location.href = "/results";
            }
            else {
                location.reload();
            }
        });
    });

    $(document).on("click", ".deleteButton", function() {
        var id = $(this).data("deleteid");

        $.ajax({
            type: "DELETE",
            url: "/results/delete/" + id
        }).done(function() {
            location.reload();
        });
    });
</script>
