<div class="container">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-body">

                    <form action="/" method="POST">
                        <div class="input-group">

                            <input type="text" name="username" class="form-control" placeholder="Enter in your username...">
                            <br><br>
                            <input type="text" name="password" class="form-control" placeholder="Enter in your password...">
                            <br><br>
                            <button class="btn btn-default" type="submit" id="logIn">Log In</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
</div>
