<div class="container">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="row">
            <h1 class="title">Project Title</h1>
        </div>

        <div class="row">
            <div class="panel panel-default" id="loginBox">
                <div class="panel-body">

                    <form id="signin" name="signin" method="post" action="signin">
                        <label for="email">Username:</label><br>
                        <input type="email" id="username" class="form-control" aria-describedby="basic-addon1" />
                        <br>
                        <label for="password">Password:</label><br>
                        <input name="password" type="password" id="password" class="form-control" aria-describedby="basic-addon1" />
                        <br>
                        <input class="btn btn-default" type="submit" value="Sign In" id="logIn" />
                        <input class="btn btn-default" type="submit" value="Sign Up" id="signUp" />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2"></div>


</div>
