<div class="container">

    <div class="row" id="loginImages">
        <img src="/images/sanfran.jpg" class="pic" width="280">
<<<<<<< HEAD

        <img src="/images/bangkok.jpg" class="pic" width="280">

        <img src="/images/nyc.jpg" class="pic" width="280">

=======
        <img src="/images/bangkok.jpg" class="pic" width="280">
        <img src="/images/nyc.jpg" class="pic" width="280">
>>>>>>> d274e91a18d70c97c22281f01a368fb4a809fa52
        <img src="/images/london.jpg" class="pic" width="280">
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="row" id="title">
            <span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Create Account
        </div>

        <div class="row">
            <div class="panel panel-default" id="loginBox">
                <div class="panel-body">


                    <form id="signup" name="signup" method="post" action="signup" ata-toggle="validator" role="form">
                        <div class="form-group">
                            <label for="email">Email Address:</label>
                            <input class="form-control" aria-describedby="basic-addon1" id="email" name="email" type="email" data-error="Please enter a valid email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input name="firstname" type="text" id="firstname" class="form-control" aria-describedby="basic-addon1" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input name="lastname" type="text" id="lastname" class="form-control" aria-describedby="basic-addon1" required>
                        </div>

                        <br>

                        <label for="password">Password:</label>
                        <input name="password" type="password" id="password" class="form-control" pattern=".{6,}" title="Password needs to be a minimum of 6 characters" aria-describedby="basic-addon1" id="password1" required>
                        <br>


                        <input class="btn btn-default" type="submit" value="Sign Up" id="logIn" name='btn_login'>
                        <a href="/signin" class="btn btn-default">Login</a>


                    </form>



                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2"></div>

    <script>
        $(document).ready(function() {
            $('form').validate();
        });
    </script>

</div>
