<div class="container">
    <div class="row" id="loginImages">
        <img src="/images/sanfran.jpg" width="280" height="180">

        <img src="/images/bangkok.jpg" width="280" height="180">

        <img src="/images/nyc.jpg" width="280" height="180">

        <img src="/images/london.jpg" width="280" height="180">
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="row" id="title">
            <span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;Trip Planner
        </div>

        <div class="row">
            <div class="panel panel-default" id="loginBox">
                <div class="panel-body">

                    <form id="signin" name="signin" method="post" action="signin">

                        <label for='email'>Email:</label>
                        <input class="form-control" aria-describedby="basic-addon1" type='email' name='email' id='email'>
                        <br>

                        <label for='password'>Password:</label>
                        <input class="form-control" aria-describedby="basic-addon1" type='password' name='password' id='password'>

                        <br>

                        <input class="btn btn-default" type="submit" value="Login" id="logIn" name='btn_login'>
                        <a href="/signup" class="btn btn-default">Sign Up</a>


                    </form>



                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2"></div>


</div>
