<div class="container">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="row">
            <h1 class="title">Project Title</h1>
        </div>

        <div class="row">
            <div class="panel panel-default" id="loginBox">
                <div class="panel-body">


                    <form id="signin" name="signin" method="post" action="signin">

                        <label for='email'>Email:</label>
                        <input class="form-control" aria-describedby="basic-addon1" type='email' name='email' id='email'>
                        <br>

                        <label for='password'>Password:</label>
                        <input class="form-control" aria-describedby="basic-addon1" type='password' name='password' id='password'>

                        <br>

                        <input class="btn btn-default" type="submit" value="Sign In" id="logIn" name='btn_login'> {{!--
                        <input class="btn btn-default" type="submit" value="Sign Up" id="signUp">--}}


                    </form>



                    <a href='#!'><strong>Forgot Password?</strong></a>
                    <br>
                    <a href="/signup">Create account</a>


                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2"></div>





</div>
