body {
    background-image: url("/images/background.png");
}

#tester {
    position: relative;
    height: 250px;
}

#searchbar {
    position: absolute;
    bottom: -15%;
    height: 70px;
    padding: 7px;
    width: 100%;
    margin-left: -15px;
}

#colmd8 {
    height: 100%;
    bottom: 350px;
    margin-bottom: -350px;
}

#loginBox {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#logIn,
#signUp {
    margin: 10px;
}

#title {
    margin-top: 35px;
    text-align: center;
    /*font-family: 'Arima Madurai', cursive;*/
    font-family: 'Cabin Sketch', cursive;
    font-size: 55px;
}

.glyphicon-cloud,
.glyphicon-flash {
    font-size: 34px;
}

#loginImages {
    margin-top: 20px;
}

.panel {
    border-color: #3b94b6;
}


.glyphicon-search,
.glyphicon-calendar {
    color: black;
    margin-right: 3px;
}

.destination {
    font-size: 32px;
    font-family: 'Boogaloo', cursive;
    color: #e45640;
}

#field {
    margin-right: 10px;
}

#left,
#right {
    text-align: center;
}

#adBox {
    text-align: center;
    font-weight: bold;
}

.weatherHistory,
.currentWeather {
    text-align: center;
}

.currentWeatherTitle,
.weatherHistoryTitle {
    font-size: 22px;
    font-family: 'Boogaloo', cursive;
    color: #3e42dd;
    text-align: left;
}

.searchButton {
    color: black;
}

.deleteButton {
    float: right;
}
